<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <!-- All servlet declarations -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <display-name>LoginServlet</display-name>
    <description></description>
    <servlet-class>com.pahanaedu.controller.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <display-name>AddUserServlet</display-name>
    <description></description>
    <servlet-class>com.pahanaedu.controller.AddUserServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <display-name>LogoutServlet</display-name>
    <description></description>
    <servlet-class>com.pahanaedu.controller.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ManageStaffServlet</servlet-name>
    <display-name>ManageStaffServlet</display-name>
    <description></description>
    <servlet-class>com.pahanaedu.controller.ManageStaffServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ManageCustomersServlet</servlet-name>
    <display-name>ManageCustomersServlet</display-name>
    <description></description>
    <servlet-class>com.pahanaedu.controller.ManageCustomersServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ManageProductsServlet</servlet-name>
    <display-name>ManageProductsServlet</display-name>
    <description></description>
    <servlet-class>com.pahanaedu.controller.ManageProductsServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddEditProductServlet</servlet-name>
    <display-name>AddEditProductServlet</display-name>
    <description></description>
    <servlet-class>com.pahanaedu.controller.AddEditProductServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <display-name>ProductServlet</display-name>
    <description></description>
    <servlet-class>com.pahanaedu.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<display-name>AddToCartServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageOrdersServlet</servlet-name>
    <servlet-class>com.pahanaedu.controller.ManageOrdersServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <servlet-class>com.pahanaedu.controller.OrderConfirmationServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>UpdateCartServlet</servlet-name>
	<display-name>UpdateCartServlet</display-name>
	<description></description>
	<servlet-class>com.pahanaedu.controller.UpdateCartServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>RemoveFromCartServlet</servlet-name>
	<display-name>RemoveFromCartServlet</display-name>
	<description></description>
	<servlet-class>com.pahanaedu.controller.RemoveFromCartServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>CheckoutServlet</servlet-name>
	<display-name>CheckoutServlet</display-name>
	<description></description>
	<servlet-class>com.pahanaedu.controller.CheckoutServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>TestEmailServlet</servlet-name>
	<display-name>TestEmailServlet</display-name>
	<description></description>
	<servlet-class>com.pahanaedu.controller.TestEmailServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>RegisterServlet</servlet-name>
	<display-name>RegisterServlet</display-name>
	<description></description>
	<servlet-class>com.pahanaedu.controller.RegisterServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>ProfileServlet</servlet-name>
	<display-name>ProfileServlet</display-name>
	<description></description>
	<servlet-class>com.pahanaedu.controller.ProfileServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>PasswordResetServlet</servlet-name>
	<display-name>PasswordResetServlet</display-name>
	<description></description>
	<servlet-class>com.pahanaedu.controller.PasswordResetServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>UpdatePasswordServlet</servlet-name>
	<display-name>UpdatePasswordServlet</display-name>
	<description></description>
	<servlet-class>com.pahanaedu.controller.UpdatePasswordServlet</servlet-class>
</servlet>
  
  <!-- All servlet mappings -->
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ManageStaffServlet</servlet-name>
    <url-pattern>/ManageStaffServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ManageCustomersServlet</servlet-name>
    <url-pattern>/ManageCustomersServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ManageProductsServlet</servlet-name>
    <url-pattern>/ManageProductsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddEditProductServlet</servlet-name>
    <url-pattern>/AddEditProductServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/store</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ManageOrdersServlet</servlet-name>
    <url-pattern>/ManageOrdersServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <url-pattern>/OrderConfirmationServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>UpdateCartServlet</servlet-name>
	<url-pattern>/UpdateCartServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>RemoveFromCartServlet</servlet-name>
	<url-pattern>/RemoveFromCartServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>CheckoutServlet</servlet-name>
	<url-pattern>/CheckoutServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>TestEmailServlet</servlet-name>
	<url-pattern>/TestEmailServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>RegisterServlet</servlet-name>
	<url-pattern>/RegisterServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>ProfileServlet</servlet-name>
	<url-pattern>/ProfileServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>PasswordResetServlet</servlet-name>
	<url-pattern>/PasswordResetServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>UpdatePasswordServlet</servlet-name>
	<url-pattern>/UpdatePasswordServlet</url-pattern>
</servlet-mapping>
</web-app>